


*
{
  margin:0;
  padding:0;
}

.navbar
{
	padding:19px 0px;
	border-bottom: none !important;
	transition: all 0.5s ease-in-out;
	background-color: #34495e !important;
}

.navbar ul li a
{
	color:white !important;
	text-transform: uppercase; 
	font-weight: 600;
	letter-spacing: 1px; 
    font-size: 14px;
	transition: all 0.5s ease-in;
	

}

.navbar ul li a:hover 
{
	color: deepskyblue !important;
	background: none !important; 
}

.navbar-toggle
{
	border: 1px solid white !important;

	transition: all 0.5s ease-in; 
}

.navbar-toggle:hover
{
	background-color:  deepskyblue !important;
}

.navbar-inverse .navbar-collapse
{
	border-color: transparent !important;
}

.location
{
	border: 1px solid white;
	border-radius: 50px;
}

/*.navbar-inverse
{
	background-color: transparent !important;
}*/

.secondary
{
    background-color:#34495e;
}

.slider
{
	width: 100%;
	height: 700px;
	background-image: url(..//img/bg.png); 
	background-size:     cover;                     
    background-position: 0px 5px;
	color: white;	
}

.slider-overlay
{
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,0.10); 
	position: relative;
}

.slider-content
{
	position: absolute;
	top: 39%;
	width: 100%; 
}

.icons .fa
{
	font-size: 30px;
	margin-right: 7px;
}








.slider .text 
{
	display: inline-block;
	font-size: 50px;
}

/*--------Servise styles------*/
.service-area
{
    margin-top: 30px;
}

.service-area p
{
   margin-bottom: -5px;
}




.service-wrap {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    overflow: hidden;
    padding: 25px 35px;
    position: relative;
    transition: all 0.5s ease 0s;
    z-index: 9;
    margin-top: 20px;
    
}

.service-wrap::before, .service-wrap::after {
    content: "";
    height: 300%;
    position: absolute;
    transform: rotate(45deg);
    width: 120%;
    z-index: -9;
    transition: all 0.5s;
    opacity: 0;
    background: #34495e;    
    
}

.service-wrap::before{
    top: -37px;
    left: 100%;  
    
}

.service-wrap:hover:before{    
    left: -27px;
    opacity: 1;
    
}


.service-wrap::after{
     right: 100%;
     bottom: -37px;
    
}

.service-wrap:hover:after{
     right: -27px;
     opacity: 1;
    
}

.service-wrap:hover{
     color: white;    
}

.service-wrap:h3{
     color: white;    
}


.service-wrap:hover h3{
     color: white;    
}


.service-wrap:hover h3:after{
     background-color: white;    
}

.service-icon i{
    font-size: 80px;
    margin-bottom: 20px;
    transition: all 0.5s;
    
}


.service-wrap:hover .service-icon i{
    
    transform:rotate(360deg);
}

.service-wrap h3
{
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 15px;
    position: relative;
    
}

.service-wrap p
{
    font-size: 14px;
    margin-bottom: 0;
}



.service-wrap a:hover 
{
	text-decoration: none;
}

.page-footer
{
	background-color: #7283a7;
		
}
.page-footer p
{
	color:white;
}

.page-footer a
{
	color: white;
}

.page-footer a:hover
{
	text-decoration: none;
	cursor:pointer; 
	color:#00A0C6;
	
}

.page-footer navbar-brand
{
	padding-top: 20px;
}

.page-footer ul li
{
	 border: 1px solid  white;
    padding: 0px;
    color: white;
    width: 30px;
    height: 30px;
	border-radius: 30px;
    margin-right: 10px;
    line-height: 30px;
	transition: all 0.5s ease-in;   
}

